@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: dimgray;
    font-family: 'Nova Mono', monospace;
    display: grid;
    grid-template-rows: max-content min-content 1fr;
}

.btn {
    display: block;
    width: 8rem;
    height: 3rem;
    padding: .5rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease-out;
    align-self: center;
}

.btn:hover {
	background-color: black;
	color: white;
}

/* common code end here */

.topbox {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.topbox__heading {
	font-size: 1.4rem;
	color: aqua;
	text-transform: capitalize;
	margin-left: 1rem;
	padding-right: 1rem;
}

.displayNumber {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 5;
}

.secretNumber {
	width: 8rem;
	height: 8rem;
	background-color: azure;
	font-size: 4rem;
	padding: 1.3rem;
	font-weight: 600;
	
	color: orangered;
}

.displayNumber::after {
    content: "";
    background-color: aqua;
    position: absolute;
    height: 3px;
    width: 99vw;
    top: 50%;
    left: 0;
    z-index: -1;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formBox {
	padding: 3rem;
}

.number {
	display: block;
	height: 8rem;
	width: 8rem;
	margin: 1rem auto;
	font-size: 4rem;
	text-align: center;
	background-color: azure;
}

.guess {
	margin: 1rem auto;
	display: block;
}
.result {
	padding: 2rem;
}
.para {
	font-size: 1.8rem;
	color: aqua;
}